body {
    background-color: #111111
}

.force {
    color: #E2E80F;
    text-align: center;
    font-size: 60px;
}

p {
    color: #eeeeee;
    font-size: 25px;
    line-height: 35px;
}
.credits {
    text-decoration: underline;
    color: #49DAFF;
    cursor: grab;
}

#film-description {
    font-size: 15px;
    font-style: italic;
}