.aboutContainer {
    background-color: #B8560C;
}

.heartHand {
    width: 4%;
    padding-left: 150pt;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-left: 170pt;
}

.firstName {
    color: #dd98cf;
}

.lastName {
    color: #91AFB3;
}

.aboutInfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 170pt;
    padding-bottom: 70pt;
}