.beerSnobContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.beerSnobImg {
    box-shadow: 10px 10px 10px gray; 
    width: 50%;
    height: 30%;
    border-radius: 5%;
    margin: 20pt;
}

.beerSnobInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.beerSnobTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    color: #dd98cf;
}

.beerSnobAbout {
    font-size: 16pt;
    font-family: 'Space Mono', monospace;
}

.bsMadeWith {
    font-family: 'Space Mono', monospace;
    font-size: 12pt;
}

.bsVisit {
    margin-top: 20pt;
    color: #B8560C;
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    text-decoration: underline;
    text-decoration-color: #dd98cf;

}