.navContainer {
    display: flex;
    flex-direction: row;
    background-color: #B8560C;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.homeImg {
    width: 10%;
    height: 10%;
    padding: 15pt;
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.projects {
    margin-left: auto;
    padding: 50pt;
    padding-left: 0pt;
}

.mountainsNav {
    width: 7%;
    height: 7%;
    padding-top: 25pt;
}

.contact {
    padding: 50pt;
}