.swapMeetContainer {
    margin-top: 80pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swapMeetInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.swapMeetTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    color: #dd98cf;
}

.swapMeetAbout {
    font-size: 16pt;
    font-family: 'Space Mono', monospace;
}

.smMadeWith {
    font-family: 'Space Mono', monospace;
    font-size: 12pt;
}

.smVisit {
    margin-top: 20pt;
    color: #B8560C;
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    text-decoration: underline;
    text-decoration-color: #dd98cf;

}

.swapMeetImg {
    box-shadow: 10px 10px 10px gray;
    width: 50%;
    height: 30%;
    border-radius: 5%;
    margin: 20pt;
}