.coloredImg {
    box-shadow: 10px 10px 10px gray; 
    width: 50%;
    height: 30%;
    border-radius: 5%;
    margin: 20pt;
}

.coloredOneContainer {
    margin-top: 100pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coloredTitle {
    margin-top: 120pt;
    margin-left: 50pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 60pt;
    font-weight: bolder;
    color: #B8560C;
}

.coloredTwoContainer {
    margin-top: 50pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coloredInfo {
    margin: 100pt;
    font-size: 16pt;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

.coloredThreeContainer {
    margin-top: 50pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coloredAbout {
    margin-top: 100pt;
    margin-left: 70pt;
    margin-right: 70pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cMadeWith {
    font-family: 'Space Mono', monospace;
    font-size: 12pt;
}

.cVisit {
    margin-top: 20pt;
    color: #B8560C;
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    text-decoration: underline;
    text-decoration-color: #dd98cf;

}