* {
    background-color: #9BE8C7;
}

.digits {
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 70px;
}

.addition {
    background-color: #BFE80C;
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 40px;
}

#addSum {
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.subtraction {
    background-color: #BFE80C;
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 40px;
}

#subtractSum {
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.multiplication {
    background-color: #BFE80C;
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 40px;
}

#multSum {
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-size: 20px;
    position: relative;
}

#button {
    background-color: #9BE8C7;
    color: #FF560D;
    font-family: 'IBM Plex Mono', monospace;
}

