@font-face {
    font-family: font1;
    src: url(font1.woff2); 
}


@font-face {
    font-family: font3;
    src: url(contentFont.woff2);
}

@font-face {
    font-family: topFont;
    src: url(topFont.woff2);
}

@font-face {
    font-family: funFont;
    src: url(verdemoderna.ttf)
}

@media (max-width: 499px) {
    * {
        margin: auto;
    }

    .dotted {
        border-bottom: 1px dotted #c1cecd;
    }

    .header {
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(huntington.jpg);
        background-size: auto, auto, cover;
        background-color: rgba(255, 255, 255, 0.555);
        height: 240px;
        text-align: center;
        opacity: 0.9;
        border-top: solid 10px #163d41;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 24px;
        opacity: 0.6;
        
    }

    .title {
        font-family: topFont;
        color: white;
        font-size: 28px;
    }

    .titleDescrip {
        font-family: font1;
        color: white;
        opacity: 0.6;
        font-size: 17px;
    }

    .nav {
        height: 60px;
        width: 100%;
        top: 190px;
        position: absolute;
        text-align: center;
        display: flex;
        background-color: #ffffff42;
        color: white;
    }

    .nav:hover {
        background-color: #ffffff70;
        cursor: pointer;
        transition-duration: 1s;
        
    }

    .viewAll {
        font-family: topFont;
        font-size: 18px;
        flex: 6;
        opacity: 0.6;
        margin-left: 72px;
    }

    .arrowRight {
        font-family: funFont;
        font-size: 45px;
        flex: 1;
        opacity: 0.6;
    }

    .content {
        color: #325050;
    }

    .mainContent {
        margin-top: 20px;
        font-family: font3;
        font-size: 13px;
        line-height: 1.8em;
        word-spacing: 3px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .download {
        display: none;
    }

    .contentHeader {
        font-family: topFont;
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .greenBamboo {
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(bamboo.png);
        background-size: auto, auto, cover;
        background-color: #32814e44;
        background-attachment: fixed;
    }

    .contentHeader2 {
        font-family: topFont;
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .mainContent2 {
        font-family: topFont;
        margin-top: 20px;
        font-family: font3;
        font-size: 13px;
        line-height: 1.8em;
        word-spacing: 3px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer{
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(koi.jpg);
        background-size: auto, auto, cover;
        background-color: rgba(255, 255, 255, 0.267);
        height: 240px;
    
    }

    .footerContent {
        font-family: font1;
        color: #ffffff42;
        text-align: center;
        line-height: 1.8em;
        word-spacing: 3px;
        font-size: 18px;
        margin: 20px;
    }

    .footerBold {
        font-family: font3;
        color: #ffffffd3;
        opacity: 0.8;
    }

    .footerLinks {
        font-family: funFont;
        display: flex;
        background-color: #163d41;
        height: 112px;
        color: #ffffff86;
        text-align: center;
        font-size: 45px;
        display: flex;
        margin-top: -21px;
    }

    .linksInFoot {
        flex: 1;
        width: 1px;
        border-radius: 50%;

    }

    .linksInFoot:hover {
        background-color: #ffffff42;
        color: #163d41;
        cursor: pointer;
        transition-duration: 1s;
        border-radius: 50%
    }

    .sidebar {
        display: grid;
        grid-auto-rows: 50px;
        grid-gap: 22px;
        height: 330px;
        background-color: #edf4f0;
        font-family: topFont;
        font-size: 17px;
        color: #325050;
    }

    .sideOne {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 1/ span 2;
    }

    .sideTwo {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 3;
        grid-column: 3/ span 1;
        grid-row: 1/ span 2;
    }

    .sideThree {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 2/ span 2;
    }

    .sideFour {
        grid-column-start: 3;
        grid-column: 3/ span 1;
        grid-row: 2/ span 2;
    }

    .sideFive {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 3/ span 2;
    }

    .sideSix {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 3/ span 2;
    }

    .sideSeven {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 4/ span 2;
    }

    .sideEight {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 4/ span 2;
        margin-bottom: auto;
    }

    .sidebarBamboo {
        background-image: url(bamboo.png);
        background-size: cover;
        background-color: #32814e4f;
        height: 270px;
        display: grid;
        box-sizing: border-box;
        grid-auto-rows: 70px;
        font-family: topFont;
        font-size: 15px;
        color: #325050;
    }

    .sideNine {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 35px;
        grid-column-start: 1;
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
        width: 100%;
    }

    .sideTen {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 1/ span 2;
        width: 100%;
    }

    .sideEleven {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 45px;
        grid-column-start: auto;
        grid-column: 1/ span 1;
        grid-row: 2/ span 2;
        width: 100%;
    }

    .sideTwelve {
        margin-left: 20%;
        margin-right: 70%;
        margin-top: 42px;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 2/ span 2;
        width: 100%;
    }

    .sideThirteen {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 3/ span 2;
    }

    .by {
        font-family: font1;
        color: #797979ad;
        font-size: 14px;
    }

    .author {
        font-family: font3;
        color: #325050;
        font-size: 12px;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    * {
        margin: auto;
    }

    .dotted {
        border-bottom: 1px dotted #c1cecd;
    }

    .header {
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(huntington.jpg);
        background-size: auto, auto, cover;
        background-color: rgba(255, 255, 255, 0.555);
        height: 240px;
        text-align: center;
        opacity: 0.9;
        border-top: solid 10px #163d41;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 24px;
        opacity: 0.6;
        
    }

    .title {
        font-family: topFont;
        color: white;
        font-size: 28px;
    }

    .titleDescrip {
        font-family: font1;
        color: white;
        opacity: 0.6;
        font-size: 17px;
    }

    .nav {
        height: 60px;
        width: 100%;
        top: 190px;
        position: absolute;
        text-align: center;
        display: flex;
        background-color: #ffffff42;
        color: white;
    }

    .nav:hover {
        background-color: #ffffff70;
        cursor: pointer;
        transition-duration: 1s;
        
    }

    .viewAll {
        font-family: topFont;
        font-size: 18px;
        flex: 6;
        opacity: 0.6;
        margin-left: 72px;
    }

    .arrowRight {
        font-family: funFont;
        font-size: 45px;
        flex: 1;
        opacity: 0.6;
    }

    .content {
        color: #325050;
    }

    .mainContent {
        margin-top: 20px;
        font-family: font3;
        font-size: 13px;
        line-height: 1.8em;
        word-spacing: 3px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .download {
        display: none;
    }

    .contentHeader {
        font-family: topFont;
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .greenBamboo {
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(bamboo.png);
        background-size: auto, auto, cover;
        background-color: #32814e44;
        background-attachment: fixed;
    }

    .contentHeader2 {
        font-family: topFont;
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .mainContent2 {
        font-family: topFont;
        margin-top: 20px;
        font-family: font3;
        font-size: 13px;
        line-height: 1.8em;
        word-spacing: 3px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer{
        background-image: url(gridlines-opaque.png), url(contours-opaque.png), url(koi.jpg);
        background-size: auto, auto, cover;
        background-color: rgba(255, 255, 255, 0.267);
        height: 240px;
    
    }

    .footerContent {
        font-family: font1;
        color: #ffffff42;
        text-align: center;
        line-height: 1.8em;
        word-spacing: 3px;
        font-size: 18px;
        margin: 20px;
    }

    .footerBold {
        font-family: font3;
        color: #ffffffd3;
        opacity: 0.8;
    }

    .footerLinks {
        font-family: funFont;
        display: flex;
        background-color: #163d41;
        height: 112px;
        color: #ffffff86;
        text-align: center;
        font-size: 45px;
        display: flex;
        margin-top: -21px;
    }

    .linksInFoot {
        flex: 1;
        width: 1px;
        border-radius: 50%;

    }

    .linksInFoot:hover {
        background-color: #ffffff42;
        color: #163d41;
        cursor: pointer;
        transition-duration: 1s;
        border-radius: 50%
    }

    .sidebar {
        display: grid;
        grid-auto-rows: 50px;
        grid-gap: 22px;
        height: 330px;
        background-color: #edf4f0;
        font-family: topFont;
        font-size: 17px;
        color: #325050;
    }

    .sideOne {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 1/ span 2;
    }

    .sideTwo {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 3;
        grid-column: 3/ span 1;
        grid-row: 1/ span 2;
    }

    .sideThree {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 2/ span 2;
    }

    .sideFour {
        grid-column-start: 3;
        grid-column: 3/ span 1;
        grid-row: 2/ span 2;
    }

    .sideFive {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 3/ span 2;
    }

    .sideSix {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 3/ span 2;
    }

    .sideSeven {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 4/ span 2;
    }

    .sideEight {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 4/ span 2;
        margin-bottom: auto;
    }

    .sidebarBamboo {
        background-image: url(bamboo.png);
        background-size: cover;
        background-color: #32814e4f;
        height: 270px;
        display: grid;
        box-sizing: border-box;
        grid-auto-rows: 70px;
        font-family: topFont;
        font-size: 15px;
        color: #325050;
    }

    .sideNine {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 35px;
        grid-column-start: 1;
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
        width: 100%;
    }

    .sideTen {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: auto;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 1/ span 2;
        width: 100%;
    }

    .sideEleven {
        margin-left: 20%;
        margin-right: 10%;
        margin-top: 45px;
        grid-column-start: auto;
        grid-column: 1/ span 1;
        grid-row: 2/ span 2;
        width: 100%;
    }

    .sideTwelve {
        margin-left: 20%;
        margin-right: 70%;
        margin-top: 42px;
        grid-column-start: 3;
        grid-column: 3/ span 2;
        grid-row: 2/ span 2;
        width: 100%;
    }

    .sideThirteen {
        margin-left: 10%;
        margin-right: 10%;
        grid-column-start: 1;
        grid-column: 1/ span 2;
        grid-row: 3/ span 2;
    }

    .by {
        font-family: font1;
        color: #797979ad;
        font-size: 14px;
    }

    .author {
        font-family: font3;
        color: #325050;
        font-size: 12px;
    }
}