.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  margin-left: -7pt;
}

.navBar > a {
  color: #4A543B;
  background-color: #128793;
  height: 45px;
  text-decoration: none;
  font-size: 29px;
  font-family: 'Permanent Marker', cursive;
  flex: 1;
}
